version: "3.8"

services:
  streamrip:
    container_name: streamrip-web

    build:
      context: .
      dockerfile: Dockerfile

    environment:
      PUID: 1000
      PGID: 1001
      AUTH_USER: ${AUTH_USER} # Default is blank
      AUTH_PASS: ${AUTH_PAS} # Default is blank
      AUTH_ENABLED: ${AUTH_ENABLED} # Default is false = off. true = on
      STREAMRIP_CONFIG_DIR: /config
      STREAMRIP_DOWNLOAD_DIR: /music
      MAX_CONCURRENT_DOWNLOADS: 1

      HOME: /config
      XDG_CONFIG_HOME: /config
      STREAMRIP_CONFIG: /config/streamrip/config.toml

    volumes:
      - /mnt/docker/streamrip:/config/streamrip
      - /mnt/media/Music:/music

    ports:
      - "5002:5000"

    restart: unless-stopped
