version: "3.8"

services:
  streamrip:
    build: .
    image: streamrip-web-gui:latest
    container_name: streamrip-web

    environment:
      PUID: 1000
      PGID: 1001
      STREAMRIP_CONFIG_DIR: /config
      STREAMRIP_DOWNLOAD_DIR: /music
      TZ: UTC

    volumes:
      - /mnt/docker/streamrip:/config
      - /mnt/media/Music:/music

    ports:
      - "5002:5000"

    restart: unless-stopped
